<div class="preloader hidden">
  
    <div class="preloader__wrap">
        <div class="preloader__symbol">
            <div class="preloader__box">
                <div class="preloader__clip" data-preloader-progress></div>
            </div>
        </div>
        <div class="preloader__progress">
            <div class="preloader__num" data-preloader-num>0%</div>
        </div>
    </div>
	
    {% svg '104/preloader' %}
</div>