.block-innovation {
  $root: &;
  background-color: $color-green;

  h2, .h2{
    color: $color-white;
  }

	&--dark {
		background-color: $color-gray;

		h2, .h2{
			color: $color-black;
		}
	}


  &__wrapper {	
		@include media-breakpoint-up(sm) {
			display: flex;	
			flex-direction: column;
		}

		@include media-breakpoint-up(md) {
			display: flex;	
			flex-direction: column;
		}

		@include media-breakpoint-up(lg) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;		
		}
	}

  &__left {		
		width: 100;
		@include media-breakpoint-up(lg) {
			width: 50%;
		}

		#{$root}--layout-2 & {
			width: 16.6%;

			@include media-breakpoint-down(md) {
				width: 100%;
				margin-bottom: rem(60);
			}

			@include media-breakpoint-down(sm) {
				margin-bottom: rem(48);
			}
		}
	}
	&__right {
		width: 100%;
		margin-top: rem(48);
		@include media-breakpoint-up(md) {
			margin-top: rem(64);
		}
		@include media-breakpoint-up(lg) {
			width: 50%;
			margin-top: rem(8);
		}


		#{$root}--layout-2 & {
			width: 67%;
			max-width: rem(888);
			margin-top: 0;

			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid rgba($color-white, 0.6);

		#{$root}--dark & {
			border-top: 1px solid rgba($color-black, 0.1);
			@include media-breakpoint-down(sm) {
				border-top: none;
			}
		}

		&:last-of-type {
			border-bottom: 1px solid rgba($color-white, 0.6);

			#{$root}--dark & {
				border-bottom: 1px solid rgba($color-black, 0.1);
			}
		}
		@include media-breakpoint-down(md) {
			padding-top: rem(34);
			&:last-of-type {
				padding-bottom: rem(34);
			}
			&:not(:last-child) {
				margin-bottom: rem(34);
			}
		}
		@include media-breakpoint-down(lg) {
			padding-top: rem(32);
			&:last-of-type {
				padding-bottom: rem(40);
			}
			&:not(:last-child) {
				margin-bottom: rem(40);
			}
		}

		@include media-breakpoint-down(sm) {
			flex-direction: column;
			padding-top: 0;
			padding-right: 0;
			border: none;
		}
	}

	&__factoid {
		position: relative;
		width: 50%;
		color: $color-white;

		#{$root}--dark & {
			color: $color-black;;
		}
		
		@include media-breakpoint-down(md) {
			width: 100%;
		}

		@include media-breakpoint-down(sm) {
			padding-top: rem(24);
		}

		&:not(:last-child) {
			@include media-breakpoint-down(sm) {
				margin-bottom: rem(31);
			}
		}

		&-border {
			position: absolute;
			top: 0;
			right: rem(8);
			left: 0;
			display: none;
			height: 1px;
			background-color: rgba($color-white, 0.6);
			transform: scaleX(1);
			transform-origin: left;
			transition: transform 1s ease 5s, background 0.5s ease;

			#{$root}--dark & {
				background-color: rgba($color-black, 0.1);
			}

			@include media-breakpoint-down(sm) {
				display: block;
			}
		}

		.factoid__label {
			color: rgba($color-white, 0.6);
			@include media-breakpoint-down(md) {
				max-width: rem(240);
			}

			#{$root}--dark & {
				color: rgba($color-black, 0.6);
			}
		}
	}
}
