<div class="modal-resume">
    <div class="modal-resume__inner" data-modal-ps>
        <div class="modal-resume__wrapper" >
            {% view '&form' with {
                form: modal.form
            }%}
        </div>
    </div>
</div>