.button {
	$root: &;

	position: relative;
	display: inline-flex;
	align-items: center;
	min-width: rem(110);
	height: rem(56);
	padding: 0 rem(32);
	color: $color-white;
	font-size: 0;
	line-height: rem(56);
	white-space: nowrap;
	text-align: center;
	background-color: $color-green;
	border: 0;
	border-radius: rem(32);
	cursor: pointer;
	@include defaultTransition(background-color, color, border-color);

	&--has-icon {
		padding-right: rem(24);
	}

	@include touchLessHover {
		&:not(#{$root}--non-interactive):not(:disabled):not(.button--disabled) {
			color: $color-white;
			background-color: darken($color-green, 5%);
		}
	}

	&__text {
		position: relative;
		display: inline-block;
		width: 100%;
		font-weight: 500;
		font-size: rem(15);
		line-height: rem(18);
		vertical-align: middle;

		@include media-breakpoint-up(sm) {
			font-size: rem(16);
			line-height: rem(24);
		}
	}

	&__icon {
		display: block;
		width: rem(24);
		height: rem(24);
		margin-left: rem(8);
		font-size: 0;
		line-height: rem(24);
	}

	&--non-interactive {
		cursor: default;
	}

	&--fit {
		width: 100%;
	}

	&--mob-fit {
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}

	&:disabled,
	&--disabled {
		cursor: not-allowed;
		opacity: 0.4;
	}

	&--white {
		color: $color-black;
		background-color: $color-white;

		@include touchLessHover {
			&:not(#{$root}--non-interactive):not(:disabled):not(.button--disabled) {
				color: $color-black;
				background-color: $color-gray-light;
			}
		}
	}

	&--gray {
		color: $color-black;
		background-color: $color-gray;

		@include touchLessHover {
			&:not(#{$root}--non-interactive):not(:disabled):not(.button--disabled) {
				color: $color-white;
				background-color: $color-black;
			}
		}
	}

	&--outline {
		border: 1px solid rgba($color-black, 0.1);
		background-color: $color-white;
		color: $color-black;

		@include touchLessHover {
			background-color: $color-green;
			color: $color-white;
			border-color: $color-green;
		}
	}

	&--outline-white {
		background-color: transparent;
		border: 1px solid $color-white;

		@include touchLessHover {
			&:not(#{$root}--non-interactive):not(:disabled):not(.button--disabled) {
				color: $color-black;
				background-color: $color-gray-light;
				border-color: $color-gray-light;
			}
		}
	}

	&--circle-white {
		position: relative;
		background-color: $color-white;
		width: rem(56);
		min-width: auto;
		height: rem(56);
		padding: 0;

		&:after, &:before {
			position: absolute;
			content: "";
			width: rem(16);
			height: rem(2);
			background-color: $color-black;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		&:after {
			transform: rotate(90deg);
		}
	}
}
