<div class="card-map" data-map-card>
	<button type="button" class="card-map__cross" data-close>
		{% view '@icon' with {
			icon: {
				name: "24/cross"
			}
		} %}
	</button>
	<div class="card-map__content" data-map-card-content></div>
</div>
