.block-history {
	@include media-breakpoint-down(md) {
		overflow: hidden;
	}

	&__pane {
		display: block;
		margin-bottom: rem(120);
		transform: none !important;
		opacity: 1;

		@media (max-width: 1023px) {
			margin-bottom: 0;
		}

		&:not(.is-active) {
			@media (max-width: 1023px) {
				display: none;
			}
		}

		@media (max-width: 1023px) {
			opacity: 0;
		}

		&:first-child {
			@media (max-width: 1023px) {
				opacity: 1;
			}
		}
	}

	&__inner {
		display: flex;

		@media (max-width: 1023px) {
			flex-direction: column;
		}
	}

	&__aside {
		position: relative;
		min-width: rem(332);
		max-width: 24.5%;
		height: 100vh;		
		padding: rem(108) rem(75) rem(31) rem(0);
		background-color: $color-green;
		position: sticky;
  		top: 0;

		@media (max-width: 1023px) {
			right: 50%;
			left: 50%;
			width: 104vw;
			min-width: initial;
			max-width: initial;
			height: rem(213);
			margin-right: -50vw;
			margin-bottom: rem(109);
			margin-left: -50vw;
			padding: rem(76) rem(0) rem(31) rem(0);
			transform: none !important;
			position: relative !important;
		}

		@include media-breakpoint-down(sm) {
			height: rem(128);
			margin-bottom: rem(64);
			padding: rem(35) 0 rem(24) 0;
		}

		&::before {
			position: absolute;
			top: 0;
			right: 100%;
			left: auto;
			width: 50vw;
			height: 100%;
			background-color: $color-green;
			border-radius: 0;
			transform: none;
			transition-timing-function: ease;
			transition-duration: 0.3s;
			transition-property: background-color;
			content: '';
			
			@media (max-width: 1023px) {
				right: 50%;
				left: 50%;
				width: 104vw;
				margin-right: -50vw;
				margin-left: -50vw;
			}
		}
	}

	.progress {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: rem(1);
		height: 100%;
		background-color: rgba($color-white, $alpha: 0.4);

		@media (max-width: 1023px) {
			top: auto;
			bottom: rem(17);
			width: 100%;
			height: 1px;
		}

		@include media-breakpoint-down(sm) {
			bottom: rem(8);
		}

		&--transparent {
			background-color: transparent;
			left: rem(-48);

			&:after {
				content: none
			}
		}
		
	}

	&__content {
		width: 50%;
		margin-right: 16.6%;
		margin-left: auto;

		@media (max-width: 1023px) {
			width: 100%;
			margin: initial;
		}
	}

	&__period {
		position: relative;
		top: 0;
		width: 100%;
		height: 100%;
		padding-left: rem(48);
		@media (max-width: 1023px) {
			padding: 0;
		}
	}

	&__wrp {
		height: 100%;
		margin-left: rem(-10);
		padding-left: rem(10);
		overflow: hidden;
	}

	&__container {
		@media (max-width: 1023px) {
			padding-bottom: rem(104);
		}

		@include media-breakpoint-down(sm) {
			padding-bottom: rem(64);
		}
	}

	.tabs,
	.tabs__content {
		height: 100%;

	}

	.tabs{
		@include media-breakpoint-only(sm) {
			padding-left: rem(12);
			padding-right: rem(24);
		}
		@include media-breakpoint-only(md) {
			padding-left: rem(12);
			padding-right: rem(12);
		}
	}

	.tabs__item {
		@media (min-width: 1024px) {
			position: relative;
			z-index: 1;

			.tab {				
				&:before {
					z-index: 2;
					background-color: $color-green;
				}
			}
	
			&.is-active {
				z-index: -1;

				.tab {			
					@media (min-width: 1024px) {
						position: relative;
						&:after {
							position: absolute;
							left: rem(-48);
							bottom: rem(44);
							height: 100vh;
							width: 1px;
							background-color: $color-white;
							content: "";
						}
					}
					
				}
	
				&:first-child {
					@media (min-width: 1024px) {
						.tab {
							&:after {
								bottom: rem(48);
							}
						}
					}					
				}
			}

		  .last-tab .tab__text{
				@media (min-width: 1024px) {
					&:before{
						position: absolute;
						display: block;
						top: rem(35);
						left: rem(-60);
						width: rem(20);
						height: rem(500);
						background-color: $color-green;
						content: '';
						z-index: -2;
					}
				}		
			}
		}
	}

	

	.swiper-container {
		height: 100%;
		//overflow: hidden !important;

		@include media-breakpoint-up(lg) {
			display: flex;
			flex-direction: column;
			//transform:inherit !important;
		}		
	}
}

.swiper-progress-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: rem(4);

	// width: 600px;
	height: 100%;
	//height: 4px;
	margin: 20px auto;
	background: #eeeeee;
}
