.input {
	@include base-input;

	&--file {
		@include visually-hidden;
	}
  }
  
.input-shell {
	position: relative;
}

.parsley-errors-list {
	position: absolute;
	top: 100% ;
	left: auto;
	right: 0;
	color: $color-white;
	@include text-body-small;
}
  