.textarea-shell {
	position: relative;
	padding-top: rem(20);
}

.textarea {
	@include base-input;
	height: rem(40);
	min-height: rem(40);
	max-height: rem(93);
	padding-top: 0;
	line-height: 1.2;
	-webkit-appearance: textfield;

	@include media-breakpoint-down(sm) {
		height: rem(35);
		min-height: rem(35);
	}
}
