<div class="block-reports container">
	<div class="block-reports__wrapper">

		<div class="block-reports__left" data-fade-in-up>
			{% if block.heading %}
				<h2 class="block-reports__heading h2">{{ block.heading }}</h2>
			{% endif %}
		</div>

		<div class="block-reports__right">

			{% for item in block.items %}
				<div class="block-reports__item" data-fade-in-up data-delay="{{ (0.2 + loop.index0 / 5)|round(2, 'floor') }}">
					{% view '^card-features' with {
						card: item|merge({
							delay: (0.2 + loop.index0 / 5)|round(2, 'floor')
						})
					} %}
				</div>
			{% endfor %}

		</div>
	</div>
</div>
