.modal-media {
	height: 100%;

	&__progress {
		margin-bottom: rem(32);

		@include media-breakpoint-down(sm) {
			margin-bottom: rem(48);
		}
	}

	&__reference {
		margin-top: rem(24);

		@include media-breakpoint-down(sm) {
			margin-top: rem(20);
		}
	}

	&__cards {
		position: relative;
		max-height: rem(380);
		padding-right: rem(12);

		@include media-breakpoint-down(sm) {
			max-height: rem(220);
		}

		.ps__rail-y {
			right: 0 !important;

			@include media-breakpoint-down(sm) {
				right: 0 !important;
			}
		}

		.ps__rail-y:before,
		.ps__thumb-y:before {
			top: 0;
			bottom: rem(16);
		}
	}

	&__actions {
		display: flex;
		flex-wrap: wrap;
		margin-top: rem(40);
		margin-right: rem(-16);
		margin-bottom: rem(-16);
		margin-left: rem(-8);

		@include media-breakpoint-down(sm) {
			margin-top: rem(32);
		}
	}

	&__action {
		padding-right: rem(8);
		padding-bottom: rem(16);
		padding-left: rem(8);
	}

	video,
	.plyr {
		width: 100%;
		height: 100%;
	}
}
