.card-strategics {
	height: 100%;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		height: 100%;
	}

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 33.333%;
		margin-right: 16%;
	}

	&__right {
		width: 50%;
	}
}
