{% extends "layouts::_page.twig" %}

{% block content %}

	{% view '&hero-default' with {
        hero_default: hero_default
    } %}
    {% view '&block-nav' with {
        block_nav: block_nav
    } %}
    <div class="mt-16 mt-md-24 mt-lg-0 mb-80 mb-md-120">
        {% view '&block-facilities' with {
        block_facilities: block_facilities
    } %}
    </div>
    
    


{% endblock %}
