{% extends "layouts::_page.twig" %}

{% block content %}
	<div class="mb-112"></div>

	<div class="my-112">
		{% view '&block-chart' %}
	</div>

	<div class="my-56 bg-black" data-fade-in-up>
		<div class="container">
			{% view '&strategy' %}
		</div>
	</div>

	<div class="mb-112">
		{% view '&card-strategy-list' %}
	</div>

	<div class="mb-112">
		{% view '&block-product' %}
	</div>
{% endblock %}
