.block-appeal {
	position: relative;

	&__left,
	&__right {
		width: 50%;

		@include media-breakpoint-up(sm) {
			width: 100%;
		}

		@include media-breakpoint-up(lg) {
			width: 50%;
		}
	}

	&__wrap {
		display: flex;

		@include media-breakpoint-up(sm) {
			flex-direction: column;
			margin-right: rem(-16);
			margin-left: rem(-16);
		}

		@include media-breakpoint-up(md) {
			margin-right: rem(-52);
			margin-left: rem(-52);
		}

		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
	}

	&__user {
		height: 100%;
	}

	&__left {
		// position: relative;

		// &:before {
		// 	position: absolute;
		// 	top: 0;
		// 	right: 100%;
		// 	left: auto;
		// 	width: 50vw;
		// 	height: 100%;
		// 	background-color: $color-gray-dark;
		// 	border-radius: 0;
		// 	-webkit-transform: none;
		// 	-ms-transform: none;
		// 	transform: none;
		// 	-webkit-transition-timing-function: ease;
		// 	-o-transition-timing-function: ease;
		// 	transition-timing-function: ease;
		// 	-webkit-transition-duration: 0.3s;
		// 	-o-transition-duration: 0.3s;
		// 	transition-duration: 0.3s;
		// 	-webkit-transition-property: background-color;
		// 	-o-transition-property: background-color;
		// 	transition-property: background-color;
		// 	content: '';
		// }
	}
}
