<div class="education-card" data-ed-card>
    {% if card.select_education %}  
        <div class="card-modal-step__select {% if card.select_education.fill %}card-modal-step__select--fill{% endif %}">
            {% view '@filter-select' with {
                filter_select: card.select_education
            } %}
        </div>
    {% endif %}
    {% if card.field_job %}  
        <div class="form__field">
            {% view '@field' with {
                field: card.field_job
            } %}
        </div>
    {% endif %}
    {% if card.datepicker %}
        <div class="form__field">
            {% view '@field' with {
                field: card.datepicker
            } %}
        </div>
    {% endif %}
    {% if card.agreement %}
        {% for check in card.agreement %}
            <div class="form__agreement">
                {% view '@field' with {
                    field: check
                } %}
            </div>
        {% endfor %}
    {% endif %}
    {% if card.field_certificate %}  
        <div class="form__field">
            {% view '@field' with {
                field: card.field_certificate
            } %}
        </div>
    {% endif %}
    {% if card.delete %}
        <div class="education-card__actions">
            {# <div class="education-card__trigger" data-btn-education>
                {% if card.trigger.button %}
                    <span class="education-card__btn">
                    </span>
                {% endif %}
                {% if card.trigger.text %}
                    <div class="education-card__text">
                        {{card.trigger.text}}
                    </div>
                {% endif %}
            </div>  #}
            
                <div class="education-card__delete" {% if card.delete.attr %} data-btn-delete {% endif %}>
                    {{ card.delete.text }}
                </div>
            
        </div>
    {% endif %}
</div>