<div {% if block.scroll_target %}id="{{block.scroll_target}}"{% endif %} class="block-team container" data-slider-team>

	<div class="block-team__heading">
		{% if block.title %}
			<p class="block-team__title h2" data-fade-in-up>{{ block.title }}</p>
		{% endif %}
		{% if block.subtitle %}
			<p class="block-team__subtitle" data-fade-in-up>{{ block.subtitle }}</p>
		{% endif %}
	</div>

	<div class="block-team__items">
		<div class="swiper-container" data-slider>
			<div class="swiper-wrapper">
				{% for item in block.items %}
					<div class="block-team__slide swiper-slide" data-fade-in-up data-delay="{{ (0 + loop.index0 / 5)|round(2, 'floor') }}">
						{% view '^card-team' with {
            card: item
        	} %}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="block-team__arrows">
			{% view '@nav-arrows' %}
		</div>
	</div>
</div>
