.block_career_cards {
	$root: &;
	&__wrapper {
		display: flex;
		width: 100%;
		@include media-breakpoint-up(sm) {
			flex-wrap: wrap;
		}
		@include media-breakpoint-up(md) {
			flex-wrap: wrap;
		}
		@include media-breakpoint-up(lg) {
			flex-wrap: nowrap;
		}
	}
	&__left {
		@include media-breakpoint-up(sm) {
			width: 100%;
			margin-bottom: rem(40);
		}
		@include media-breakpoint-up(md) {
			width: 100%;
			margin-bottom: rem(64);
		}
		@include media-breakpoint-up(lg) {
			width: rem(440);
		}
	}
	&__right {
		@include media-breakpoint-up(md) {
			width: 100%;
			margin-left: rem(0);
		}
		@include media-breakpoint-up(lg) {
			width: rem(888);
			margin-left: rem(8);
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	&__item {
		$b: &;

		@include media-breakpoint-up(sm) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-sizing: border-box;
			width: 100%;
			height: rem(240);
			margin: rem(1);
			padding: rem(32);
			background: $color-white;
			&:first-child {
				border-radius: rem(8) rem(8) 0 0;
			}
			&:nth-last-child(1) {
				border-radius: 0 0 rem(8) rem(8);
			}
		}
		@include media-breakpoint-up(md) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-sizing: border-box;
			width: 49%;
			height: rem(288);
			margin: rem(1);
			padding: rem(40) rem(44);
			background: $color-white;
			&:first-child {
				border-radius: rem(8) 0 0 0;
			}
			&:nth-child(2) {
				border-radius: 0 rem(8) 0 0;
			}
			&:nth-last-child(1) {
				border-radius: 0 0 rem(8) 0;
			}
			&:nth-last-child(2) {
				border-radius: 0 0 0 rem(8);
			}
		}

		@include media-breakpoint-up(lg) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-sizing: border-box;
			width: 49.7%;
			height: rem(268);
			margin: rem(1);
			padding: rem(40) rem(46);
			background: $color-white;
			&:first-child {
				border-radius: rem(8) 0 0 0;
			}
			&:nth-child(2) {
				border-radius: 0 rem(8) 0 0;
			}
			&:nth-last-child(1) {
				border-radius: 0 0 rem(8) 0;
			}
			&:nth-last-child(2) {
				border-radius: 0 0 0 rem(8);
			}
		}

		.icon {
			color: $color-green;
			@include defaultTransition(color);
			@include media-breakpoint-up(sm) {
				height: rem(72);
			}
			@include media-breakpoint-up(md) {
				height: rem(104);
			}

			svg {
				@include media-breakpoint-up(sm) {
					height: rem(72);
					margin-top: rem(12);
					margin-left: rem(-10);
				}
				@include media-breakpoint-up(md) {
					height: rem(104);
					margin-top: rem(16);
					margin-left: 0;
				}
			}
		}

		&.animate {
			path {
				animation: dash 3.5s ease 0.8s forwards;
				stroke-dasharray: 280;
				stroke-dashoffset: 280;
			}
		}
	}

	&__text {
		@include line-clamp(16, 1.4, 3);
		@include media-breakpoint-up(sm) {
			max-width: rem(250);
		}
		@include media-breakpoint-up(md) {
			max-width: none;
		}
		@include media-breakpoint-up(lg) {
			max-width: none;
			margin-top: rem(40);
		}
	}

	&__button {
		@include media-breakpoint-up(sm) {
			width: rem(211);
			margin-top: rem(32);
		}
		@include media-breakpoint-up(md) {
			width: rem(211);
			margin-top: rem(48);
		}
		@include media-breakpoint-up(lg) {
			width: rem(211);
			margin-top: rem(-56);
		}
	}
}
