.slider-similar {
	$root: &;

	&__nav {
		display: flex;
		justify-content: flex-end;
	}

	&__container {
		padding-top: rem(80);
		padding-bottom: rem(120);

		@include media-breakpoint-up(md) {
			padding-bottom: rem(124);
		}

		@include media-breakpoint-down(sm) {
			padding-top: rem(64);
			padding-bottom: rem(75);
		}
	}

	&__title {
		margin-bottom: rem(80);

		@include media-breakpoint-down(sm) {
			margin-bottom: rem(48);
		}
	}

	&__border {
		position: absolute;
		top: 0;
		right: rem(8);
		left: 0;
		height: 1px;
		background-color: rgba($color-black, 0.1);
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.5s ease 0.2s, background 0.5s ease;
		content: '';
	}

	&__item {
		position: relative;
		padding-top: rem(32);

		@include touchLessHover {
			.slider-similar__border {
				background-color: $color-green;
			}
		}
	}

	&__navigation {
		margin-top: rem(43);

		@include media-breakpoint-down(sm) {
			margin-top: rem(24);
		}
	}

	.swiper-container.animate {
		#{$root}__border {
			transform: scaleX(1);
		}
	}
}
