.main-hero {
	$root: &;

	position: relative;
	overflow: hidden;

	&__wrap {
		position: relative;
		display: flex;
		min-height: rem(640);

		@include media-breakpoint-up(lg) {
			min-height: rem(800);
			height: 100vh;
		}
		@include media-breakpoint-only(md) {
			min-height: rem(1024);
		}
	}

	&__slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		order: 3;

		&.is-prev {
			z-index: 1;
			order: 2;
		}

		&.is-active {
			z-index: 2;
			order: 1;
		}
	}

	&__shell {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__image-wrap, &__frame-wrap {
		position: absolute;
		top: -25%;
		left: 25%;
		width: 150%;
		height: 150%;

		// @include media-breakpoint-up(md) {
		// 	left: -18%;
		// 	width: 160%;
		// }

		@media screen and (min-device-width: 1024px) and (max-device-width: 1024px) {
			left: 2%;
			width: 190%;
		}
	}

	&__image, &__frame{
		position: absolute;
		top: 16%;
		left: -17%;
		width: 69%;
		height: 69%;
		pointer-events: none;


		

		@include media-breakpoint-down(md) {
			left: -17%;
			width: 69%;
		}

		@media screen and (min-device-width: 1024px) and (max-device-width: 1024px) {
			left: -33%;
			width: 85%;
		}
	

		#{$root}__slide.has-overlay & {
			&:after {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($color-black, 0.4);
				content: "";
			}
		}
	}

	&__title {
		opacity: 0;
		margin-bottom: rem(32);

		#{$root}:not(.is-dirty) #{$root}__slide.is-active & {
			opacity: 1;
		}

		@include media-breakpoint-up(md) {
			margin-bottom: rem(48);
		}

		#{$root}__slide.is-dark & {
			color: $color-white;
		}
	}

	&__action {
		opacity: 0;

		#{$root}:not(.is-dirty) #{$root}__slide.is-active & {
			opacity: 1;
		}
	}

	&__container {
		
		#{$root}__inner & {
			position: relative;
			z-index: 1;
			padding-top: rem(128);

			@include media-breakpoint-up(lg) {
				padding-top: rem(280);
			}
			@include media-breakpoint-only(md) {
				padding-top: rem(222);
			}
		}

		#{$root}__bottom & {
			display: flex;
			align-items: center;
		}
	}

	&__content {
		max-width: rem(800);
	}

	&__numbers {
		display: flex;
		align-items: center;
		width: 33.3333%;

		@include media-breakpoint-up(lg) {
			width: 16.6666%;
			padding-bottom: rem(12);
		}
		@include media-breakpoint-up(md) {
			margin-right: rem(4);
		}
		@include media-breakpoint-only(md) {
			width: 25%;
			padding-bottom: rem(8);
		}
	}

	&__number {
		display: block;
		background-color: transparent;
		border: 0;
		padding: 0;
		color: rgba($color-black, 0.4);
		cursor: pointer;
		@include defaultTransition(color);

		&:not(:last-child) {
			margin-right: rem(16);
		}

		#{$root}.in-transition & {
			transition-delay: 0.6s;
		}

		@include touchLessHover {
			color: $color-black;
		}

		&.is-active {
			color: $color-black;
			cursor: default;
		}

		@at-root .dark-slide-is-active & {
			color: rgba($color-white, 0.4);

			&.is-active {
				color: $color-white;
			}

			@include touchLessHover {
				color: $color-white;
			}
		}

		@include media-breakpoint-up(md) {
			&:not(:last-child) {
				margin-right: rem(24);
			}
		}
	}

	&__bottom {
		position: absolute;
		z-index: 2;
		left: 0;
		bottom: rem(28);
		width: 100%;

		@include media-breakpoint-up(md) {
			bottom: rem(64);
		}
	}

	&__progress {
		position: relative;
		height: 2px;
		width: calc(33.3333% - #{rem(12)});
		margin-left: rem(4);
		background-color: $color-gray;
		overflow: hidden;
		@include defaultTransition(background-color);

		#{$root}.in-transition & {
			transition-delay: 0.3s;
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color-black;
			transform: translateX(-100%);
			@include defaultTransition(background-color);
		}

		@at-root .dark-slide-is-active & {
			background-color: rgba($color-white, 0.4);

			span {
				background-color: $color-white;
			}
		}

		@include media-breakpoint-up(md) {
			width: 50%;
		}
	}

	&__arrows {
		margin-left: auto;
	}

	&__ov {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $color-white;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		opacity: 1;
		pointer-events: none;
		// @at-root .content-loaded {
		// 	display: none;
		// }

		
	}

	
}

body.content-loaded  .main-hero__ov { 
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	animation-duration: 1s;
	animation-delay: .7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
	}
	@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
